<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.intelliviz.retirementhelper"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NewUserActivity" />
        <activity android:name=".ui.SummaryActivity" />
        <activity
            android:name=".ui.RetirementOptionsDialog"
            android:theme="@style/RetireDialog" />

        <provider
            android:name=".db.RetirementProvider"
            android:authorities="com.intelliviz.retirementhelper.db.RetirementProvider"
            android:exported="true"
            android:label="my provider" />
        <receiver android:name=".widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/milestone_list_widget_info" />
        </receiver>

        <activity android:name=".ui.PinActivity" />
        <activity android:name=".ui.income.IncomeSourceActivity" />
        <activity android:name=".ui.PersonalInfoDialog" />
        <activity android:name=".ui.MilestoneDetailsDialog" />

        <service
            android:name=".services.TaxDeferredIntentService"
            android:exported="false" />
        <service
            android:name=".services.RetirementOptionsService"
            android:exported="false" />
        <service
            android:name=".services.PersonalDataService"
            android:exported="false" />
        <service
            android:name=".services.IncomeTypeService"
            android:exported="false" />
        <service
            android:name=".services.PensionDataService"
            android:exported="false" />
        <service
            android:name=".services.SavingsDataService"
            android:exported="false" />
        <service
            android:name=".services.GovPensionDataService"
            android:exported="false" />
        <service
            android:name=".widget.MilestonesRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>