<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.intelliviz.retirementhelper"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/retirement48"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NavigationActivity" />
        <activity android:name=".ui.RetirementOptionsDialog" />

        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/milestone_list_widget_info" />
        </receiver>

        <activity android:name=".ui.MilestoneDetailsDialog" />
        <activity
            android:name="com.intelliviz.income.ui.IncomeSourceListMenuFragment"
            android:theme="@style/RetireDialog" />

        <service
            android:name=".widget.MilestonesRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="com.intelliviz.income.ui.ListMenuActivity"
            android:theme="@style/RetireDialog" />

        <activity android:name=".ui.RetirementDetailsActivity" />
        <activity android:name="com.intelliviz.income.ui.PensionIncomeDetailsActivity" />
    </application>

</manifest>